
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

@media (min-width: 600px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    ul {
        grid-template-columns: repeat(3, 1fr);
    }
}


